body {
    background: url("./house pics/hogwarts.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#sortingForm {
    display: none;
}

#studentCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}